---

export function getStaticPaths() {
    return [
        {
            params: { project: 'abc' }
        },
        {
            params: { project: '2' }
        },
        {
            params: { project: '3' }
        }
    ]
}

const { project } = Astro.params
---

<div>hello world {project}</div>

<style lang="scss">

</style>