@import './variables.scss';

@mixin flex-box($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@function color($color) {
    @return map-get($color-map, $color)
};

@function screen($size) {
    @return map-get($screen-size, $size)
}