@import './variables.scss';

@mixin flex-box($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin astro-gradient-text() {
    background-image: $ASTRO-GRADIENT-COLOR;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
}

@function color($color) {
    @return map-get($color-map, $color)
};

@function screen($size) {
    @return map-get($screen-size, $size)
}