---
import ExperienceEducationSkills from "../components/experience/ExperienceEducationSkills.astro";
import ExperienceGrid from "../components/experience/ExperienceGrid.astro";
import ExperienceJobCard from "../components/experience/ExperienceJobCard.astro";
import Layout from "../layouts/Layout.astro";
import type ExperienceJob from "../models/ExperienceJob";
import type ExperienceTimelineElement from "../models/ExperienceTimelineElement";

const timelineItems: ExperienceTimelineElement[] = [
  {
    place: "IBM",
    role: "Full Stack",
    yearsPresent: ["21", ""],
  },
  {
    place: "Schwab",
    role: "Full Stack",
    yearsPresent: ["20", "21"],
  },
  {
    place: "School/Internships",
    role: "Student/Intern",
    yearsPresent: ["16", "20"],
  },
];

const jobs:ExperienceJob[] = [
    {
        image: {
            srcPath: '/company/IBM_logo.svg',
            altText: 'ibm.svg'
        },
        description: 'Developing next generation Early Programs Admin Tool to help clients manage outreach and feedback programs.',
        pills: ['React', 'JavaScript', 'TypeScript', 'AWS S3', 'MongoDB', 'Docker', 'Java Spring', 'SCSS']
    },
    {
        image: {
            srcPath: '/company/charles-schwab-logo-2.png',
            altText: 'ibm.svg'
        },
        description: 'Delivered notifications, notifications api, dashboard applications, and transfer of assets requests for service advisors.',
        pills: ['Angular', 'TypeScript', 'C#', 'MongoDB', 'RabbitMQ', 'HTML', 'LESS']
    },
    {
        image: {
            srcPath: '/company/ATT_logo_2016.svg',
            altText: 'att.svg'
        },
        description: 'Wrote scripts to automate service tickets, ensure database integrity, and scrape Excel sheets for relevant data.',
        pills: ['Python', 'Selenium', 'PyQt', 'SQL', 'GUI Development']
    },
]

export const description:string = "My experience thus far in my career."

export const keywords:string = "samuel steinberg, sam steinberg, sam steinberg developer, sam steinberg engineer, sam steinberg software, sam steinberg experience, experienced developer austin"

---

<Layout title="Experience" description={description} keywords={keywords}>
  <main>
    <div class="header">
      <h1 class="text-center">Experience</h1>
      <section>
        <ExperienceGrid timelineItems={timelineItems} />
      </section>
    </div>
    <section class="card-section">
      {
        jobs.map((job:ExperienceJob) => <ExperienceJobCard job={job} />)
      }
    </section>
    <section class="wide-background-section">
      <ExperienceEducationSkills />
    </section>
  </main>
</Layout>

<style lang="scss">

  @import '../styles/abstracts.scss';

  .card-section {
    @include flex-box(column, wrap, center, center);
    padding: 4rem 1rem;
    background-color: color("primary-light");
    max-width: none;
    margin-top: 0
  }

  main {
    width: 100%;
    color: white;
  }

  .header {
    background-color: color("primary");
  }

  section {
    max-width: 1200px;
    margin: 4rem auto 0;
  }

  .wide-background-section {
    width: 100%;
    background-color: color("primary");
    color: white;
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
    padding-top: 2rem;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    .card-section {
      flex-direction: row;
    }
  }
</style>
