---
import Layout from '../layouts/Layout.astro';
import HeaderWithImage from '../components/home/HeaderWithImage.astro';
import LinkCardGrid from '../components/home/LinkCardGrid.astro';

export const description:string = "Hi, I'm Sam, a developer based in Austin, TX."

export const keywords:string = "samuel steinberg, sam steinberg, sam steinberg developer, sam steinberg engineer, sam steinberg software"

---

<Layout title="Sam Steinberg" description={description} keywords={keywords}>
	<main>
		<HeaderWithImage />
		<section id="tiles">
			<LinkCardGrid />
		</section>
	</main>
</Layout>

<style lang="scss">
	@import '../styles/abstracts.scss';
	
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	#tiles {
		background-color: color("primary-light");
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.link-card-grid {
		@include flex-box(column, wrap, center, center);
		margin: auto;
		padding: 1em;
		max-width: 1200px;
		padding: 3rem 1rem 5rem 1rem;
	}
</style>
