---
import type ProjectTile from "../../models/ProjectTile";
import Tile from "../Tile.astro";
import truck from "/truck-svgrepo-com.svg"
import restaurant from "/restaurant-plate-svgrepo-com.svg"
import stocks from "/barchart-svgrepo-com.svg"
import github from "/github-svgrepo-com.svg"
import animations from "/gif-svgrepo-com.svg"


const projects:ProjectTile[] = [
	{
		title: "a2z",
		route: '/project/a2z',
		type: 'Mobile/Web App',
		colorClass: 'tile-purple-pink',
		image: {
			srcPath: truck,
			altText: "truck.svg"
		},
		textColor: "#fff"
	},
	{
		title: "rAdmin",
		route: '/project/rAdmin',
		type: 'Web App',
		colorClass: 'tile-blue-teal',
		image: {
			srcPath: restaurant,
			altText: "restaurant front.svg"
		},
		textColor: "#964B00"
	}, 
	{
		title: "StockTrace",
		route: '/project/stocktrace',
		type: 'Web App',
		colorClass: 'tile-yellow-pink',
		image: {
			srcPath: stocks,
			altText: "chart.svg"
		},
		textColor: "#fff"
	}, 
	{
		title: "Github-Personal",
		route: '/project/github-personal',
		type: 'Web App',
		colorClass: 'tile-blue-pink',
		image: {
			srcPath: github,
			altText: "github.svg"
		},
		textColor: "#000"
	}, 
	{
		title: "Animation Library",
		route: '/project/animations',
		type: 'CSS/SVG',
		colorClass: 'tile-lightblue-pink',
		image: {
			srcPath: animations,
			altText: "gif-icon.svg"
		},
		textColor: "#fff"
	}
]

---

<div class="link-card-grid">
    {
        projects.map((project:ProjectTile) => <Tile project={project} />)
    }
</div>

<style lang="scss">
	@import "../../styles/abstracts.scss";

	.link-card-grid {
		@include flex-box(column, wrap, center, center);
		margin: auto;
		padding: 1em;
		max-width: 1200px;
		padding: 3rem 1rem 5rem 1rem;
	}
</style>
