---

---

<nav class="navbar-bg">
    <a href="/">
        Work
    </a>
    <a href="/about">
        About
    </a>
    <a href="/experience">
        Experience
    </a>
</nav>

<style>
.navbar-bg {
    background-color: #0f172ae6;
    height: 50px;
    color: white;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 1rem;
} 
a {
    color: white;
    text-decoration: none;
    margin: 0 2rem
}
</style>