---
---

<div class="education-skills-container">
  <h2>Education</h2>
  <p>University of Tennessee - B.S. Computer Science, Minor in Cybersecurity</p>
  <h2>Libraries and Languages</h2>
  <h5>Programming Languages</h5>
  <p>TypeScript, JavaScript, JSX, Python, C#, C++, C, HTML5, CSS3, PHP, Java</p>
  <h5>Libraries and Frameworks</h5>
  <p>
    Angular, React.js, React Native, Vue.js, Next.js, JQuery, Node.js,
    Express.js, .NET Core, Selenium Webdriver, Spring Boot
  </p>
  <h5>Databases and Tools</h5>
  <p>MongoDB, Firebase, SQL, RabbitMQ</p>
</div>

<style lang="scss">
    @import '../../styles/abstracts.scss';

    .education-skills-container {
      padding: 4rem 1rem;
    } 

    h2 {
        text-decoration: underline;
    }

    h5 { 
        margin-top: 1rem !important;
        color: whitesmoke
    }
    p {
        color: whitesmoke
    }
</style>
