---
import ExperienceSkillsItem from "./ExperienceSkillsItem.astro"

const languages:string[] = ['TypeScript', 'JavaScript', 'JSX', 'Python', 'C#', 'C++', 'C', 'HTML5', 'CSS3', 'PHP', 'Java']
const frameworksAndLibraries:string[] = ['Angular', 'React.js', 'React Native', 'Vue.js', 'Next.js', 'Node.js', 'Express.js', '.NET Core', 'Selenium Webdriver', 'Spring Boot']
const dbAndTools:string[] = ['MongoDB', 'MySQL', 'RabbitMQ']
const cloud:string[] = ['AWS S3', 'Google Cloud Storage', 'Firebase']

const skillCategories = [
  { title: "Programming Languages", items: languages },
  { title: "Libraries and Frameworks", items: frameworksAndLibraries },
  { title: "Cloud", items: cloud },
  { title: "Databases and Tools", items: dbAndTools },
]

export { skillCategories }
---

<div class="education-skills-container">
  <div class="inner-container">
    <h2>Intellectual Property</h2>
    <h5 class="patent-group"><span class="patent">U.S. Patent Application Pending</span></h5>
    <p>
      Restaurant Management System including a Table Management System, and Methods of Operating Same
    </p>
    <h2>Education</h2>
    <p>
      University of Tennessee - B.S. Computer Science, Minor in Cybersecurity - Class of 2020
    </p>
    <h2>Technical Skills</h2>
    {
      skillCategories.map(skill => <ExperienceSkillsItem title={skill.title} skills={skill.items} />)
    }
  </div>
</div>

<style lang="scss">
  @import "../../styles/abstracts.scss";

  .patent {
    @include astro-gradient-text;
  }

  .patent-name {
    font-weight: 400;
  }

  .patent-group {
    margin-top: 0 !important;
    margin-bottom: .25rem;
  }

  .inner-container {
    @include flex-box(column, wrap, flex-start, center);
    background-color: color("primary-light");
    height: 100%;
    width: 100%;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }

  .education-skills-container {
    padding: 6rem 1rem;
  }

  h2 {
    text-decoration: underline;
  }

  h5 {
    margin-top: 1rem !important;
    color: whitesmoke;
  }
  p {
    color: whitesmoke;
  }

  @media screen and (min-width: screen("sm")) {
    .inner-container {
      padding: 2rem;
    }
  }
</style>
