---
import type ExperienceTimelineElement from "../../models/ExperienceTimelineElement";

export interface Props {
  experience: ExperienceTimelineElement;
}

const {
  experience: { place, role, yearsPresent },
} = Astro.props;
---

<div class="place-role-container">
  <p>{place}</p>
  <span>{role}</span>
</div>
<div class="years">
    <span>{yearsPresent[0] + " - " + yearsPresent[1]}</span>
</div>

<style>

.place-role-container {
    padding-left: 1rem
}
.years {
    padding-left: 1rem;
}

p {
  margin: .25rem 0;
  font-size: 1.25rem;
}

@media screen and (min-width: 280px) {
    .years {
      padding-left: 0;
      padding-right: 1rem;
    }
  }

</style>
