@import '../../styles/abstracts.scss';

.navBackground {
    background-color: color("primary") !important;
    border-bottom: 1px solid white;
}

.active {
    color: lightblue
}

.dropdown-menu {
    width: 75%;
    margin-left: 10px;
    color: white !important;
    background-color: color("primary") !important;
    a {
        color: white;
        width: 75%;
        max-width: 150px;
        margin-left: 10px;
        border-bottom: 1px solid white;
    }
}
